<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-78XFaO8-gLbusaQgqDykKgNQ_w-4qyg</string>
	<key>GCM_SENDER_ID</key>
	<string>102164374153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.salonika</string>
	<key>PROJECT_ID</key>
	<string>salonika-trator</string>
	<key>STORAGE_BUCKET</key>
	<string>salonika-trator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102164374153:ios:bbeb56fea38830ab9fdc58</string>
</dict>
</plist>